 .clear
  {
  clear:both;
  }
  ul.semester-list {
    list-style: none;
    margin-top: 20px;
    padding: 0px;
    overflow: auto;
    border-top: 3px solid #3b99d7;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 6px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul.semester-list li {
    padding: 12px 0px;
    overflow: auto;
    border-bottom: 1px solid #DEDEDE;
    color: #333;
}
.semester-list-item {
    background: #fff;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul.semester-list {
    list-style: none;
}