html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'bebas';
  font-style: normal;
  font-weight: 400;
  src: local('bebas'), local('bebas'), url(BebasNeue_Regular.woff) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'helvetica_neueregular';
  src: url('../fonts/HelveticaNeue-UltraLight-webfont.eot');
  src: url('../fonts/HelveticaNeue-UltraLight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeue-UltraLight-webfont.woff2') format('woff2'), url('../fonts/HelveticaNeue-UltraLight-webfont.woff') format('woff'), url('../fonts/HelveticaNeue-UltraLight-webfont.ttf') format('truetype'), url('../fonts/HelveticaNeue-UltraLight-webfont.svg#helvetica_neueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_Regular';
  src: url('../fonts/helveticaneue-medium-webfont.eot');
  src: url('../fonts/helveticaneue-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-medium-webfont.woff') format('woff'), url('../fonts/helveticaneue-medium-webfont.ttf') format('truetype'), url('../fonts/helveticaneue-medium-webfont.svg#AbelRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_light';
  src: url('../fonts/helveticaneue-light-webfont.eot');
  src: url('../fonts/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneue-light-webfont.woff') format('woff'), url('../fonts/helveticaneue-light-webfont.ttf') format('truetype'), url('../fonts/helveticaneue-light-webfont.svg#AbelRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_bold';
  src: url('../fonts/Helvetica-Bold.eot');
  src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Helvetica-Bold.woff') format('woff'), url('../fonts/Helvetica-Bold.ttf') format('truetype'), url('../fonts/Helvetica-Bold.svg#AbelRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Black';
  src: url('../fonts/Roboto-Black.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_BlackItalic';
  src: url('../fonts/Roboto-BlackItalic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Bold';
  src: url('../fonts/Roboto-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_BoldItalic';
  src: url('../fonts/Roboto-BoldItalic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Italic';
  src: url('../fonts/Roboto-Italic.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Light';
  src: url('../fonts/Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Medium';
  src: url('../fonts/Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Regular';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto_Thin';
  src: url('../fonts/Roboto-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay_Regular';
  src: url('../fonts/PlayfairDisplay-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay_Bold';
  src: url('../fonts/PlayfairDisplay-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-ExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  /* padding-top: 100px;*/
  background: #fff;
  font-family: font-family: helvetica_light;
  font-size: 16px;
  ;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 45px;
}

.bg-1 {
  background-color: #1abc9c;
  /* Green */
  background: url("../img/logo.png"), url("../img/header.jpg");
  background-size: 18% 20%, 100% 135%;
  background-repeat: no-repeat;
  color: #ffffff;
  background-position: left top, bottom;
}

@media screen and (max-width: 480px) {
  .bg-1 {
    background-size: 60% 17%, 210% 104%;
  }
}

h1 {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  -webkit-transform: scale(1, 1.2);
  color: #fff;
  margin-left: 5px;
  position: relative;
}

h1:after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: yellow;
  width: 50%;
  margin-left: 15px;
  top: 50%;
}
.col__2{
  width: 19.666667%;

}
.bg-2 {
  background-color: #122259;
  /* Dark Blue */
  color: #ffffff;
  padding-bottom: 100px!important;
  padding-top: 100px!important;
  border-bottom: 14px solid #00aeef;

}
#faculties{
  padding-top: 115px;
  padding-bottom: 100px;

}


.bg-6 {
  background-color: #2f2f2f;
  /* Black Gray */
  color: #fff;
  padding-bottom: 0px!important;
  padding-top: 10px!important;
}
.containerwidths{
  width: 1485px;

}
.container-fluid {
  padding-top: 25px;
  padding-bottom: 25px;

}
.heading {
  font-size: 30px;
  font-weight: 600;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-top: 30px;
  z-index: 99;
  font-family: 'Dosis';
  font-weight: 900; color: #fff; line-height: normal;
}

.header {
  /* margin: 60px 0 0 0; */
  top: 20%;
  z-index: 99;
  position: absolute;
}

.header ul {
  margin: 0;
  padding: 0 20px;
}

.header ul li {
  list-style-type: square;
  font-size: 28px;
  line-height: 16px;
  font-weight: 600;
  padding: 15px 0px;
  color: yellow;
}

.header ul li span {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -webkit-transform: scale(1, 1.2);
}


/* ENQUIRY FORM */

.innerbox2 {
  outline: none;
  width: 100%;
  margin-right: 10px;
  color: #231f20;

  padding: 10px 5px 10px 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  border: 5px solid #fff;
  border-radius: 50px;
  text-align: center;
  /* margin-top: 37px; */

}
.innerbox2::placeholder{
  color: #231f20;
  /* color: #4e4949; */

  font-family: Dosis;

}

.innerbox2-select {
  outline: none;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  color: #231f20;

  padding: 9px 5px 9px 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  border: 5px solid #fff;
  border-radius: 50px;
}

.btnss {
  outline: none;
  margin-right: 0;
  color: #231f20;
  font-family: Dosis;
  text-transform: uppercase;
  padding: 9px 15px;
  margin-right: 18px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  border: 5px solid #fff;
  border-radius: 50px;
  margin-top: 37px;
  width: 18%;
}

.btnss:hover {
  border: 5px solid #393939;
  background-color: #fff;
  color: #231f20;
}

@media screen and (max-width: 480px) {
  .innerbox2 {
    margin-top: 20px;
  }
  .innerbox2-select {
    margin-top: 20px;
  }
  .btnss {
    margin-top: 20px;
  }
  .btn {
    margin-right: 10px;
    float: right;
  }

  .bg-2 .heading {
    color: white;
    line-height: 36px;
  }
  .header {
    margin-top: 30px;
  }
  .header ul li span {
    color: #000
  }
  .heading {
    color: #000;
  }
  h1:after {
    width: 20%;
  }
}

.bg-2 .heading {
  font-size: 56px;
  padding-bottom: 4px;
  -webkit-transform: scale(1, 1.2);
}
.bg-2 .heading__sub {
  font-size: 50px;
  -webkit-transform: scale(1, 1.2);
}
.heading__sub3 {
  font-size: 50px;
    -webkit-transform: scale(1, 1.2);
    font-family: Dosis;
    margin-bottom: 24px;
    margin-top: 53px;
}
.heading__sub4 {
  color:#fff; line-height: normal;
  font-size: 56px;
  -webkit-transform: scale(1, 1.2);
  font-family: Dosis;
  margin-bottom: 36px;


}

.section-header {
  margin-bottom: 50px;
}

.section-header .section-title {
  font-size: 30px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
  font-family: Dosis;
}

.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}

.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}

.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
  margin-right: 10px;
}

.btn.btn-primary {
  background: #45aed6;
  border-color: #2a95be;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #2a95be;
}

#meet-team {
  position: relative;
  
}
.meet_team_container{
  padding-top: 100px;
  padding-bottom: 100px; 
}
#myCarousel{
  margin-top: 118px;

}

#meet-team .team-member {
  padding: 13px;
  background: #fff;
  border: 2px solid #eeeeee;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms;
}

#meet-team .team-member p {
  font-family: helvetica;
  font-size: 15px;
}

#meet-team .team-member .team-img {
  margin: -15px -15px 0 -15px;
}

#meet-team .team-member .team-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
  font-family: 'Roboto_Bold', sans-serif;
}

#meet-team .team-member .team-info h5 {
  text-align: center;
  padding-top: 10px;
}

#meet-team .team-member:hover {
  border-color: #45aed6;
}

#meet-team .team-member:hover .social-icons>li>a {
  background: #45aed6;
}

#meet-team .social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

#meet-team .social-icons>li {
  display: inline-block;
}

#meet-team .social-icons>li>a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}

#testimonial {
  background: #333333 url(../img/bg2.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}

#testimonial h4 {
  color: #fff;
  margin-bottom: 0;
}

#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}

#testimonial .btns {
  margin-top: 10px;
}

#features {
padding-top: 140px;
padding-bottom: 112px;

}

#features .media.service-box:first-child {
  margin-top: 80px;
}

.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  text-transform: uppercase !important;
  /* border-bottom: 1px solid #eee; */
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 900;
  font-family: Dosis;
}

.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  /* border-bottom: 1px solid #45aed6; */
}

ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

ul.nostyle i {
  color: #45aed6;
}


/* is to top */

#myBtn {
  height: 35px;
  width: 35px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(49, 176, 213, 0.8);
  ;
  color: white;
  cursor: pointer;
  padding: 3px;
  border-radius: 100%;
  transition: 1s background-color ease-in-out;
}

#myBtn:hover {
  background-color: rgba(49, 176, 213, 0.4);
  color: #2f2f2f;
}

#myBtn i {
  font-size: 18px;
  font-weight: 900;
}


/* Slider STYLE*/

.carousel-inner img {
  /*-webkit-filter: grayscale(90%);
      filter: grayscale(90%); */
  /* make all photos black and white */
  width: 100%;
  /* Set width to 100% */
  margin: auto;
}

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-indicators {
    display: none;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}


@media (max-width: 600px) {
  .carousel-caption {
    display: contents;
    /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

.newyear {
  background: #122259;
  padding-top: 100px;
  padding-bottom: 100px;
}

.newyear h3 {
  font-size: 22px;
  /* text-decoration: underline; */
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  color: #555;
  font-weight: bold;
}

.newyear ul {
  margin-top: 8%;
}

.newyear ul>li {
  font-size: 20px;
  line-height: 30px;
  font-family: 'Dosis', sans-serif;
  /*font-style: italic;*/
  color: #fff;
  font-weight: bold;
  list-style: none;
  margin-bottom: 15px;
}

.newyear ul>li strong {
  color: #03a9f4;
}

.newyear ul>li:before {
  /*content: "\f0a1";*/
  /* FontAwesome Unicode */
  color: #a8272c;
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -2em;
  /* same as padding-left set on li */
  margin-right: 8px;
  width: 1.3em;
  /* same as padding-left set on li */
}

.clist .list-group-item {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.mt20 {
  margin-top: 20px !important;
}
.col__md__30{
  -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;

}
.col__md__70{
  -webkit-box-flex: 0;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
}
.col__row{
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.iframecol{
  /* width: 93%;
    height: 98%; */
    /* width="950" height="500" */
    width: 950px;
    height: 500px;
    margin-left: 50px;

}

.group-ccol {
  padding: 50px 0;
  background: #122259;
  border-bottom: 14px solid #00aeef;

}

.ccol {
  display: block;
  float: left;
  /* margin: 1% 0 1% 1.6%; */
  padding: 20px;
  width: 33.33%;
  border-right: 1px solid #555;
}

.ccol:last-child {
  border-right: none;
}

.ccol h5 {
  font-size: 30px;
  font-family: Dosis;
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
}

.ccol p {
  font-size: 17px;
  font-weight: normal;
  font-family: 'Jost', sans-serif;
  margin-bottom: 15px;
  color: #fff;
}

.ccol ul>li {
  color: #fff;
  font-family: 'Jost', sans-serif;
}

.ccol ul>li>i {
  color: #fff;
  padding-right: 5px;
}

.logoagu {
  position: absolute;
  z-index: 99;
}

@media only screen and (max-width: 768px) {
  .ccol {
    width: 100%;
    /* margin: 1% 0 1% 0%; */
  }
  .titlebg {
    background: rgba(15, 159, 250,0.9);
    color: #fff;
    display: inline;
    padding: 10px !important;
    font-size: 18px !important;
  }
  .logoagu {
    /*position: relative;*/
    z-index: 99;
    /*background: #525252;*/
  }
}

.white {
  color: #fff !important;
}

.enquiry_btn {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 2px 25px;
    font-size: 16px;
    position: fixed;
    right: -61px;
    top: 63%;
    
    transform: rotate(
-90deg
);
    box-shadow: 1px 1px 10px #8b8b8b;
    z-index: 9;
}

.pad10 {
  padding: 5px 10px 10px 10px;
}

.titlebg {
  background: rgba(15, 159, 250,0.9);
  
  color: #fff;
  display: inline;
  padding: 12px 30px;
}

.margint {
  margin-top: 10px !important;
}

.carousel-caption {
  background: rgba(33, 33, 33, 0.664) !important;
}

.carousel-caption h3 {
  font-size: 26px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.carousel-caption p {
  font-size: 20px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}
@media(max-width:1494px){
  .iframecol{
    width: 650px !important;
    height: 500px;
    margin-left: 50px;
}
.containerwidths{
  max-width: 1140px;
}
}
@media(max-width:1200px){
  .col__2 {
    width: 100%;
}
}
@media(max-width:1166px){
  .containerwidths {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.iframecol{
  width: 550px !important;
  height: 500px;
  margin-left: 50px;
}
#name{
  margin-top: 0px !important;
}
.innerbox2 {
  width: 330px;
  margin-top: 20px;

  color: #231f20;
  /* margin-top: 37px; */
}
#course{
  width: 330px;
  margin-top: 20px;

}
}

@media(max-width:979px){
  #meet-team::before {
 /* faizan */
    content: '';
    background: url(img/slider/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 300vh !important;
    position: absolute;
    left: 0px;
    z-index: -1;
    filter: brightness(0.3);
    padding-top: 100px;
}
  .col__md__70 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 99%;
    flex: 0 0 99%;
    max-width: 99%;
text-align: center;
}
.col__md__30 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 99%;
  flex: 0 0 99%;
  max-width: 99%;
  text-align: center;

}
.iframecol{
  width: 550px !important;
  height: 500px;
  margin-left: 0px;
}
.containerwidths {
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
}
@media(max-width:884px){
  .btnss {
    width: 215px;

}
}

@media(max-width:768px){
  .containerwidths {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media(max-width:600px){
  .containerwidths{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .iframecol{
    width: 400px !important;
    height: 300px;
    margin-left: 0;
  }
}

@media(max-width:502px){
  .bg-2 .heading {
    font-size: 39px;
    padding-bottom: 4px;
    -webkit-transform: scale(1, 1.2);
}
.bg-2 .heading__sub {
  font-size: 34px;
  -webkit-transform: scale(1, 1.2);
}
.heading__sub3 {
  font-size: 34px;
  -webkit-transform: scale(1, 1.2);
  font-family: Dosis;
  margin-bottom: 26px;
  margin-top: 40px;
}
.heading__sub4 {
  color: #fff;
  line-height: normal;
  font-size: 34px;
  -webkit-transform: scale(1, 1.2);
  font-family: Dosis;
  margin-bottom: 36px;
}
}

@media(max-width:448px){
  .iframecol{
    width: 350px !important;
    height: 300px;
    margin-left: 0;
  }

  #name{
    margin-top: 0px !important;
  }
  .innerbox2 {
    width: 320px;
    margin-top: 20px;
  
    color: #231f20;
    /* margin-top: 37px; */
  }
  #course{
    width: 320px;
    margin-top: 20px;
  
  }
  .btnss {
    width: 175px;
}
}

@media(max-width:399px){
  .innerbox2 {
    width: 250px !important;
    margin-top: 20px;
  
    color: #231f20;
    /* margin-top: 37px; */
  }
  #course{
    width: 250px !important;
    margin-top: 20px;
  
  }
  .btnss {
    width: 175px !important;
} 
}