.container_changed {
  width: 1500px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 14px solid #fff;
}
.section-content-block {
  /* display: none; */
  background-color: #122259;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 1305px) {
  .container_changed {
    width: 1200px;
  }
}

@media (max-width: 1194px) {
  .container_changed {
    width: 968px;
  }
}

@media (max-width: 1194px) {
  .container_changed {
    width: 782px;
  }
}

@media (max-width: 772px) {
  .container_changed {
    width: 624px;
  }
}

@media (max-width: 772px) {
  .container_changed {
    width: 499px;
  }
}

@media (max-width: 518px) {
  .container_changed {
    width: 394px;
  }
}

@media (max-width: 518px) {
  .container_changed {
    width: 301px;
  }
}

/* @media (max-width: 992px){ */

/* .col__lg__row{
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
    } 
     .col__lg__12{
        webkit-box-flex: 0;
        -ms-flex: 0 0 99% !important;
        flex: 0 0 99% !important;
        max-width: 99%
         !important;
        }

        .owl-item active{
            webkit-box-flex: 0;
            -ms-flex: 0 0 99% !important;
            flex: 0 0 99% !important;
            max-width: 99%
             !important;
        }

        .container_changed{

            width: 782px;

        } */
/* } */
